<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        {{ turbo() }}
        
        <title>Flask modals</title>
        {% endblock %}
    </head>
    <body>
        {% from 'bootstrap/utils.html' import render_messages %}
        {{ render_messages() }}
        <!-- Your page content -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            
        {% endblock %}
    </body>
</html>
